
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: white;
    background-image: linear-gradient(to top, black 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #6699ff;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Fall Section CSS*/
.fall {
    background-color: #141414;
}

.fall__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90%;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.fall__content h1 {
    font-size: 4rem;
    background-color: #6699ff;
    background-image: linear-gradient(to top, black 0%,white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.fall__content h2 {
    font-size: 4rem;
    background-color: #6699ff;
    background-image: linear-gradient(to top, white 0%,#6699ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.fall__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.fall__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #6699ff 0%, #151515 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.fall__btn a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.fall__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #6699ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.fall__btn:hover {
    color: white;
}

.fall__btn:hover:after {
    width: 100%;
}

.fall__img--container {
    text-align: center;
}

#fall__img {
    height: 80%;
    width: 80%;
}

/* Product Card Section CSS*/
.product__container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.card {
    width: 100%;
    justify-content: space-between;
    background: #141414;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    padding: 0 10px;
}
.product__container:after {
    content: "";
    display: table;
    clear: both;
}
.card__header {
    font-size: 4rem;
    background-color: #6699ff;
    background-image: linear-gradient(to top, white 0%,#6699ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.card__price {
    font-size: 36px;
    color: #fff;
}

.card__button {
    font-size: 1rem;
    background-image: linear-gradient(to top, #6699ff 0%, #151515 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.card__button a {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.card__button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #6699ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.card__button:hover {
    color: white;
}

.card__button:hover:after {
    width: 100%;
}
/* Mobile Responsive*/
@media screen and (max-width: 768px) {
    .fall__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .fall__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .fall__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .fall__content h2 {
        font-size: 3rem;
    }

    .fall__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .fall__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .fall__content h2 {
        font-size: 2rem;
    }

    .fall__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .fall__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/*Winter Section CSS */
.winter {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.winter h1 {
    background-color: #6699ff;
    background-image: linear-gradient(to right, white 0%, #7e9bed 0%, #6699ff 21%, #1d2eab 52%, #08125e 78%, #020624 100%);
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.winter__container {
    display: flex;
        justify-content: center;
        flex-wrap: wrap;
}

.winter__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/pic5.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.winter__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/pic4.jpg');
}

.winter h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.winter__card p {
    position: absolute;
    top: 100px;
    left: 30px;
}

.winter__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #6699ff;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.winter__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .winter {
        height: 1600px;
    }

    .winter h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .winter {
        height: 1400px
    }

    .winter h1 {
        font-size: 1.2rem;
    }

    .winter__card {
        width: 300px;
    }

    .cart-info p {
        display: none;
    }
}
/* Shopping Cart */

.cart-page {
    margin: 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: fff;
    background: #6699ff;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #6699ff;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #6699ff;
    width: 100%;
    max-width: 400px;
}
        
td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/* Footer CSS */

.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: content-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link--items > h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
}

/* Social Icons */
.social__icon--link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 60px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.website__rights {
    color: #fff;
}

@media screen and (max-width:820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website_rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin:0;
        padding: 10px;
        width: 100%;
    }
}